<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <img src="../public/Assets/temp_logo.jpg" alt="Logo" class="fixed-top-right">

    <h1>Home Page</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </nav>
  </header>
  <div class="header-section"> 
    <h1>Pickleball Instruction Beyond The Obvious </h1>
    <h4>The higher level of pickleball you're going after, the higher level of isntruction you must receive. </h4>
    <h4>This is where you'll get it.</h4>
  </div>
  <main>
    <div class="tutorial-section"> 
      <div class="tutorial-block">
        <h2>Swing</h2>
        <p>Learn the proper swing technique to maximize your power and control.</p>
      </div>
      <div class="tutorial-block">
        <h2>Serve</h2>
        <p>Master the serve and gain a competitive edge on the court.</p>
      </div>
      <div class="tutorial-block">
        <h2>Strategy</h2>
        <p>Develop winning strategies to outplay your opponents.</p>
      </div>
      <div class="tutorial-block">
        <h2>Footwork</h2>
        <p>Improve your footwork for better positioning and agility.</p>
      </div>
      <div class="tutorial-block">
        <h2>Volleys</h2>
        <p>Enhance your volley skills for effective net play.</p>
      </div>
      <div class="tutorial-block">
        <h2>Doubles Play</h2>
        <p>Learn effective doubles strategies and teamwork.</p>
      </div>
    </div>
    <p>Welcome to the home page of our basic Node.js website!</p>
  </main>
</body>
</html>
