<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <div class="horizontal-layout">
      <img src="/Assets/logo_temp.webp" class="headerImage" alt="Logo">

      <nav>
        <a href="/">HOME</a>
        <a href="/about">RULES</a>
        <a href="/about">DRILLS</a>
        <a href="/contact">PRACTICES</a>
        <a href="/contact">DRAW DRILLS</a>
        <a href="/contact">MORE</a>
      </nav>
    </div>
  </header>
  <div class="header-section"> 
    <h1>Pickleball Instruction Beyond The Obvious </h1>
    <h4>The higher level of pickleball you're going after, the higher level of instruction you must receive. </h4>
    <h4>This is where you'll get it.</h4>
  </div>
  <main>
    <div class="tutorial-section"> 
      <a href="https://www.soccerdrive.com/soccer-skills-videos" target="_blank" class="tutorial-link">
        <div class="tutorial-block" style="background-image: url('/Assets/tutorial_block_temp.jpg');">
          <div class="tutorial-title">
            <h2>Swing</h2>
          </div>
        </div>
      </a>      
      <a href="https://www.soccerdrive.com/soccer-skills-videos" target="_blank" class="tutorial-link">
        <div class="tutorial-block" style="background-image: url('/Assets/tutorial_block_temp.jpg');">
          <div class="tutorial-title">
            <h2>Serve</h2>
          </div>
        </div>
      </a>      
      <a href="https://www.soccerdrive.com/soccer-skills-videos" target="_blank" class="tutorial-link">
        <div class="tutorial-block" style="background-image: url('/Assets/tutorial_block_temp.jpg');">
          <div class="tutorial-title">
            <h2>Footwork</h2>
          </div>
        </div>
      </a>      
      <a href="https://www.soccerdrive.com/soccer-skills-videos" target="_blank" class="tutorial-link">
        <div class="tutorial-block" style="background-image: url('/Assets/tutorial_block_temp.jpg');">
          <div class="tutorial-title">
            <h2>Fake</h2>
          </div>
        </div>
      </a>      
      <a href="https://www.soccerdrive.com/soccer-skills-videos" target="_blank" class="tutorial-link">
        <div class="tutorial-block" style="background-image: url('/Assets/tutorial_block_temp.jpg');">
          <div class="tutorial-title">
            <h2>Pass</h2>
          </div>
        </div>
      </a>      
      <a href="https://www.soccerdrive.com/soccer-skills-videos" target="_blank" class="tutorial-link">
        <div class="tutorial-block" style="background-image: url('/Assets/tutorial_block_temp.jpg');">
          <div class="tutorial-title">
            <h2>Split</h2>
          </div>
        </div>
      </a>      
    </div>
    <p>Welcome to the home page of our basic Node.js website!</p>
  </main>
</body>
</html>
