<!-- SHOW THE RIGHT ANSWERS -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trivia Game</title>
    <link rel="stylesheet" href="../public/Assets/css/styles.css">
    <link rel="stylesheet" href="../public/Assets/css/triviaStyles.css">
    <script src="../public/Assets/js/script.js"></script>
    <script src="../public/Assets/js/triviaScript.js" defer></script>
</head>
<body>
    <header>
        <div class="horizontal-layout">
            <nav id="navLinks">
                <a href="../index.html">HOME</a>
                <a href="rules.html">RULES</a>
                <a href="trivia.html">TRIVIA GAME</a>
                <a style="color: gray">DRILLS</a>
                <a style="color: gray">DRAW DRILLS</a>
                <a style="color: gray">MORE</a>
            </nav>
            <button class="dropdown-btn" onclick="toggleDropdown()">☰</button>
        </div>
    </header>

    <div class="control-buttons">
        <button id="easy-button" class="control-button">Easy</button>
        <button id="hard-button" class="control-button">Hard</button>
        <button id="start-button" class="control-button">Start</button>
        <button id="restart-button" class="control-button">Restart</button>
    </div>

    <div class="score-container">
        <div>Correct: <span id="correct-count">0</span></div>
        <div>Wrong: <span id="wrong-count">0</span></div>
    </div>

    <div id="question-text" class="question-text"></div>

    <div class="question-container">
        <img src="../public/Assets/images/net.png" class="net" alt="Net" id="netImage">
        <button id="question-button-1" class="question-button"></button>
        <button id="question-button-2" class="question-button"></button>
        <button id="question-button-3" class="question-button"></button>
        <button id="question-button-4" class="question-button"></button>
    </div>

    <div class="empty-container"></div>
    <footer></footer>
</body>
</html>
