@import "compass/css3";

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.horizontal-layout {
  display: flex;
  flex-direction: row;
}

/*------------------
HEADER
------------------*/

header {
  background-color: #1d401d;
  position: relative;
  display: flex;
  justify-content: flex-end; 
  text-align: center;
  padding: 1rem;
  font-size: 2vh;
  min-height: 70px;
}


header::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3vh; 
  background-color: #2c6533;
}

header .horizontal-layout {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
  background-color: #1d401d;
  margin-right: 3vw;
}

header nav {
  display: flex;
  justify-content: center;
  gap: 4vw; 
}

header nav a {
  color: white; 
  text-decoration: none;
  font-weight: bold;
}

.headerImage {
  width: auto;
  height: 80%;
  position: absolute;
  left: 2vw;
  bottom: 0;
  z-index: 10;
}

main {
  padding: 2rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .dropdown-btn {
    display: block;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 8vw;
    cursor: pointer;
    
  }

  #navLinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
  }

  #navLinks a {
    padding: 10px;
    text-align: center;
    color: white;
  }

  #navLinks.show {
    display: flex;
  }
}

@media screen and (min-width: 769px) {
  .dropdown-btn {
    display: none;
  }

  #navLinks {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }
}

/*------------------
FOOTER
------------------*/

footer {
  background-color: #1d401d; 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 2vh;
  min-height: 70px;
}

footer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3vh;
  background-color: #2c6533;
}

.footer-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d401d; 
  margin-top: 3vh;
}

footer nav {
  display: flex;
  justify-content: center;
  gap: 4vw;
}

footer nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

