.control-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    width: 70%;
    margin: 0 auto; /* Center the container horizontally */
    padding: 10px;
}

.control-button {
    padding: 10px 20px;
    font-weight: bold;
    color: #fff;
    background-color: #002d4a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    flex: 1 1 50px; /* Allows flexibility */
    max-width: 200px; /* Ensures buttons don't get too wide */
}

.control-button:hover {
    background-color: #045484;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.question-container {
    background-color: gray;
    width: 70%;
    min-width: 250px;
    height: 20vw;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto; /* Center the container horizontally */
    justify-content: center; /* Center the content within the container */
    padding: 10px;
    position: relative; /* Make container a positioned element */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;}

.question-text {
    width: 70%;
    min-width: 250px;
    height: auto; /* Allow height to adjust based on content */
    display: flex;
    flex-direction: column; /* Align content vertically */
    align-items: center; /* Center content horizontally */
    margin: 0 auto; /* Center the container horizontally */
    padding: 10px;
    position: relative; /* Make container a positioned element */
    font-size: 2vw;
    text-align: center; /* Center text within the container */
    background-color: gray;
    font-weight: bold;
    color: white;
}


.score-container {
    background-color: gray;
    width: 70%;
    min-width: 250px;
    height: 4vw;
    display: flex;
    align-items: center; /* Center items vertically */
    margin: 0 auto; /* Center the container horizontally */
    padding: 10px;
    position: relative; /* Make container a positioned element */
    font-weight: bold;
    gap: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: white;
}

.score-container span {
    padding: 0 5px; /* Add some padding around each span for spacing */
}

.correct {
    flex: 1; /* Take up remaining space */
    text-align: left; /* Left-align text */
}

.wrong {
    flex: 1; /* Take up remaining space */
    text-align: left; /* Left-align text */
}


.score-container span {
    flex: 1; /* Equal width for each span */
    text-align: center; /* Center text horizontally */
}


.net {
    position: absolute; /* Position the image absolutely */
    top: 50%; /* Move it 50% down from the top */
    left: 52%; /* Move it 50% right from the left */
    transform: translate(-50%, -50%); /* Center the image */
    height: 20vw;
    z-index: 3; /* Ensure the image is above other elements */
}

.selected {
    background-color: #4CAF50; /* Green background */
    color: white;
}

.question-button {
    padding: 10px 20px;
    color: white;
    border: none;
    flex: 1 1 48%; /* Adjust width to fit two buttons per row */
    width: 10vw;
    cursor: pointer; /* Ensure pointer cursor is shown */
    border: 3px solid white;
    background-color: #045484;
    position: relative; /* Required for pseudo-element positioning */
    overflow: hidden; /* Ensure the pseudo-element is contained within the button */
}

.question-button:hover {
    background-color: #002d4a;
}


.question-button span {
    z-index: 2; /* Ensure text is above other elements */
    position: relative; /* Position relative to place it above ::before */
    color: white;
    background-color: rgba(121, 121, 121, 0.8);
    border-radius: 5px;
    padding: 2px 10px;
    font-weight: bold;
    text-align: center; /* Center text within the span */
    display: inline-block; /* Ensure span takes up only as much space as needed */
    max-width: 100%; /* Ensure the span does not exceed the button width */
    word-wrap: break-word; /* Allow long words to break and wrap to the next line */
}


.question-button::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px; /* Adjust thickness as needed */
    background-color: white;
    z-index: 1; /* Ensure the line is above the button content */
    rotate: 90deg;
}

#question-button-1::before {
    left: 15%;
}

#question-button-2::before {
    left: -15%;
}

#question-button-3::before {
    left: 15%;
}

#question-button-4::before {
    left: -15%;
}



@media (max-width: 600px) {
    .score-container {
        background-color: gray;
        width: 70%;
        min-width: 250px;
        height: 4vw;
        display: flex;
        justify-content: space-around; /* Distribute items evenly along the main axis */
        align-items: center; /* Center items vertically */
        margin: 0 auto; /* Center the container horizontally */
        padding: 10px;
        position: relative; /* Make container a positioned element */
    }
    
    .score-container span {
        flex: 1; /* Equal width for each span */
        text-align: center; /* Center text horizontally */
    }
    

    .question-text {
        font-size: 5vw;
        height: 20vw;
    }

    .question-container {
        height: 35vw; /* This will apply up to 600px */
    }

    .net {
        height: 35vw; /* This will apply up to 600px */
    }

    .question-button span {
        font-size: 3vw; /* Default for screens up to 600px */
    }
    
}

@media (max-width: 400px) {
    .net {
        height: 45vw; /* This will apply up to 600px */
    }

    .question-container {
        height: 45vw; /* This will apply up to 600px */
    }

    .question-button::before {
        width: 110%;
    }

    .question-text {
        font-size: 5vw;
        height: 12vw;
    }

    .question-button span {
        font-size: 3vw; /* Default for screens up to 600px */
    }
}

