.question-container {
    background-color: red;
    width: 70%;
    min-width: 250px;
    height: 20vw;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto; /* Center the container horizontally */
    justify-content: center; /* Center the content within the container */
    padding: 10px;
    position: relative; /* Make container a positioned element */
}

.net {
    position: absolute; /* Position the image absolutely */
    top: 50%; /* Move it 50% down from the top */
    left: 52%; /* Move it 50% right from the left */
    transform: translate(-50%, -50%); /* Center the image */
    height: 20vw;
    z-index: 3; /* Ensure the image is above other elements */
}

.selected {
    background-color: #4CAF50; /* Green background */
    color: white;
}

.question-button {
    padding: 10px 20px;
    color: white;
    border: none;
    flex: 1 1 48%; /* Adjust width to fit two buttons per row */
    width: 10vw;
    cursor: pointer; /* Ensure pointer cursor is shown */
    border: 3px solid white;
    background-color: #045484;
    position: relative; /* Required for pseudo-element positioning */
    overflow: hidden; /* Ensure the pseudo-element is contained within the button */
}

.question-button:hover {
    background-color: #002d4a;
}

.question-button span {
    z-index: 2; /* Ensure text is above other elements */
    position: relative; /* Position relative to place it above ::before */
    color: white;
    background-color: rgba(0, 112, 54, 0.8);
    border-radius: 10px;
    font-size: 2vw;
    padding: 2px 10px;
    font-weight: bold;
}


.question-button::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px; /* Adjust thickness as needed */
    background-color: white;
    z-index: 1; /* Ensure the line is above the button content */
    rotate: 90deg;
}

#question-button-1::before {
    left: 15%;
}

#question-button-2::before {
    left: -15%;
}

#question-button-3::before {
    left: 15%;
}

#question-button-4::before {
    left: -15%;
}

@media (max-width: 600px) {
    .question-container {
        height: 35vw; /* This will apply up to 600px */
    }

    .net {
        height: 35vw; /* This will apply up to 600px */
    }

    .question-button span {
        font-size: 3vw; /* Default for screens up to 600px */
    }
}

@media (max-width: 400px) {
    .question-button span {
        font-size: 7vw; /* Override for screens up to 400px */
    }
}
