h1 {
    margin-top: 2vh;
    font-size: 2em;
    color: black;
    text-align: center;
}

.net {
    width: auto;
    height: 40px;
    transform: rotate(90deg);
}

#netImage {
    opacity: 0;
}

#quiz-container {
    position: relative;
    background-color: #2c6533;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 2vh 2vw;
    width: 90%;
    max-width: 600px;
    text-align: center;
    margin: 0 auto; /* Center the container on the page */
}

#question-container.hide {
    display: none;
}

#question {
    font-size: 1.5em;
    margin: 2vh 0;
}

#answer-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2vh 0;
}

button {
    background-color: #045484;
    color: white;
    border: none;
    padding: 1em;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
    flex: 1 1 calc(50% - 1vh);
    max-width: calc(50% - 1vh);
}

button:hover {
    background-color: #003e64;
}

button:focus {
    outline: none;
}

button.hide {
    display: none;
}

#quiz-container .btn-answer {
    border: 3px solid white;
    border-radius: 0px;
}

#quiz-container .btn-answer::after {
    content: '';
    position: absolute;
    top: 0;
    width: 5px;
    height: 100%;
    background-color: white;
}

#quiz-container .btn-answer.btn-left::after {
    left: 60%;
}

#quiz-container .btn-answer.btn-right::after {
    right: 60%;
}

#counters {
    margin-top: 1vh;
    display: flex;
    justify-content: space-around;
}

#counters p {
    font-size: 1em;
    margin: 0;
}

.net-container {
    position: absolute;
    bottom: 130px; /* Adjusts the position of the net image */
    left: 52%;
    transform: translateX(-50%);
}

.difficulty-container {
    margin-top: 20px; /* Adjust margin top as needed */
    text-align: center; /* Center aligns inline elements */
    padding: 20px; /* Adjust padding as needed */
}

#easyButton,
#hardButton {
    display: inline-block; /* Display buttons inline with block-level features */
    width: 300px;
    margin: 10px; /* Adjust margin between buttons */
    padding: 10px;
    font-size: 16px;
    background-color: #045484;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#easyButton.active,
#hardButton.active {
    background-color: #000000;
}

#easyButton:hover,
#hardButton:hover {
    background-color: #000000;
}




@media (max-width: 600px) {
    button {
        flex: 1 1 calc(50% - 1vh);
        max-width: calc(50% - 1vh);
    }

    .net-container {
        bottom: 46%; /* Adjust for smaller screens if needed */
        left: 53%;
    }
}
